/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* main background image */
.bgimage {
    height:100vh;
    background: url('../images/home-bg.jpeg');
    background-size:cover;
    position:relative;
}

/* text css above hero image*/
.page_title {
    font-size: 4.5rem;
}
.page_desc {
    font-size: 2rem;
}
.page_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}


/* about section image css */
.imageAboutPage {
    height: 100%;
    width: 100%;
}

/* services section css */
.card-title {
    text-align: center;
}
.card:hover{
    background-color: #2f9e59;
}


/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover{
    color: #f089d9;
}

.fa-linkedin:hover{
    color: #0077b5;
}

.fa-telegram:hover {
    color: #0088cc;
}
.fa-twitter:hover {
    color: #00acee;
}

.fa-github:hover {
    color: #531a7c;
}

.fab {
    color: #000000;
}

/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

.internal-links {
    color:#000000
}

.internal-links:hover {
    color: #2f9e59
}

/* Modifications to Bootstrap CDN */

.nav-link {
    padding: 5px 5px 5px 5px; 
}

.nav-link:hover {
    padding: 5px 5px 5px 5px;
    background-color: #000000       
}

.navbar {
    background-color: rgba(88, 174, 200, 0.329);
    opacity: 0.750;
}

.btn-success:hover {
    background-color: #000000;
}