@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.bgprop {
    height:100vh;
    background-size:cover;
    position:relative;
}

.normaltext {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* text css above hero image*/
.page_title {
    font-size: 3rem;
}
.page_desc {
    font-size: 2rem;
}
.text-center {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

.page_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact, #certifications {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}



/* about section image css */
/* .imageAboutPage {
    height: 100%;
    width: 100%;
    border: 5px solid #555;
} */

/* services section css */

.card-title {
    text-align: center;
}
.card:hover{
    background-color: #92ccdd;
}


/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover{
    color: #f089d9;
}

.fa-linkedin:hover{
    color: #0077b5;
}

.fa-telegram:hover {
    color: #0088cc;
}
.fa-twitter:hover {
    color: #00acee;
}

.fa-github:hover {
    color: #531a7c;
}

.fab {
    color: #000000;
}

/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

.internal-links {
    color:#000000
}

.internal-links:hover {
    color: #2f9e59
}

/* Modifications to Bootstrap CDN */

.nav-link {
    color: #143f46 !important;
    padding: 5px 10px 5px 10px; 
    font-size: 1.2rem;
    border-radius: 5px;
}

.nav-link:hover {
    padding: 5px 5px 5px 5px;
    background-color: #8c198c;
    color: #c7eff0 !important
}

.navbar {
   max-width: 100vw !important;
    background-color: rgba(88, 174, 200, 0.329);
    opacity: 1;
    border-bottom: #000000 !important;
}

.navbar-brand {
    font-family: "Freehand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #8c198c !important
}

.navbar-toggler-icon {
  background-image: url("../images/burger-menu-svgrepo-com.svg") !important; 
}

.btn-success:hover {
    background-color: #083c40;
}


/* All the fancy colors and stuff */

.tracking-in-contract-bck {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: italic;
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-in-contract-bck1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
	-webkit-animation: tracking-in-contract-bck 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-in-contract-bck-bottom {
	-webkit-animation: tracking-in-contract-bck-bottom 3.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 3.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 0.5em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 0.5em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

 @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 0.5em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }


.color-change {
	-webkit-animation: color-change 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate both;
	        animation: color-change 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate both;
}
  
@-webkit-keyframes color-change {
    0% {
      background: #92ccdd;
    }
    25% {
      background: #c7eff0;
    }
    50% {
      background: #f5d5fd;
    }
    75% {
      background: #fdc4ec;
    }
    100% {
        background: #ffc2cb;
    }
  }
  @keyframes color-change {
    0% {
        background: #92ccdd;
      }
      25% {
        background: #c7eff0;
      }
      50% {
        background: #f5d5fd;
      }
      75% {
        background: #fdc4ec;
      }
      100% {
          background: #ffc2cb;
      }
  }

  .text-shadow-pop-top:hover {
	-webkit-animation: text-shadow-pop-top 0.6s both;
	        animation: text-shadow-pop-top 0.6s both;
}

@-webkit-keyframes text-shadow-pop-top {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
  }
  @keyframes text-shadow-pop-top {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
  }

  .submit-email-btn {
    font-family: inherit;
    font-size: 20px;
    background: #2f9e59;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
.submit-email-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
.submit-email-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
.submit-email-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
.submit-email-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .submit-email-btn:hover span {
    transform: translateX(5em);
  }
  
  .submit-email-btn:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }


